<% layout ('layouts/boilerplate')%>
<div class="container mt-3">
  <div>
    
  </div>
  <% if (hits) { %>
      <% hits.forEach((song, index) => { %>
          <% if (index % 2 === 0) { %>
              <div class="row">
          <% } %>
          <div class="col-md-6">
            <div class="shadow-sm bg-body rounded">
              <div class="card mb-3 shadow-sm p-3 mb-5 bg-body rounded">
                <div class="row g-0 " style="background-color: whitesmoke;">
                    <div class="col-md-8">
                        <div class="card-body ">
                            <h5 class="card-title fw-bold"><%= song.title %> </h5>
                            <p class="card-text"> <%= song.artist_names%></p>
                            <p class="card-text"> 
                                <small class="text-muted"><%= song.release_date_for_display %> </small>   
                            </p>
                            <a class="btn btn-primary" href="/song/viewLyrics/<%= song.id %>">View Lyrics</a>
                            <% if (song.haveChords) {%>
                              <a class="btn btn-secondary" href="/song/viewChords/<%= song.id %>">View Chords</a>
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-4" style="height: 100%;">
                        <img src="<%= song.header_image_url %>" alt="" style="height: 100%; width: 100%; object-fit: cover;">
                    </div>
                </div>
            </div>
            </div>

          </div>
          <% if (index % 2 !== 0 || index === hits.length - 1) { %>
              </div> <!-- .row -->
          <% } %>
      <% }); %>
  <% } %>
</div>

 
</body>

</html>
